*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;height: 100vh;
    height: 100vh;
}
#radio1{
    width: 1000px !important;
    margin: 100px auto;
}

.radio1:checked,
.radio1:not(:checked){
    position: absolute;
    left: -9999px;
}
.radio1:checked + label,
.radio1:not(:checked) + label{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

.radio1:checked + label::before,
.radio1:not(:checked) + label::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

.radio1:checked + label::after,
.radio1:not(:checked) + label::after{
    content: '';
    width: 12px;
    height: 12px;
    background: #f87da8;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    transition: all 0.3s ease;
}
.radio1:not(:checked) + label:after{
    opacity: 0;
    transform: scale(0);
}
.radio1:checked + label:after{
    opacity: 1;
    transform: scale(1);
}
