*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #123456;
}
.container{
    width: 150px;
    margin: 100px auto;
}
.label{
    display: flex;
    align-items: center;
    border-radius: 100px;
    padding: 14px 16px;
    margin: 5px 0;
    cursor: pointer;
    transition: 0.3s;
}
.label:hover,
.label:focus-within,
.label:active{
    background: hsla(0, 0%, 80%, .14);
}
.radio-input{
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
}
.radio-design{
    width: 22px;
    height: 22px;
    border-radius: 100px;
    background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%));
    position: relative;
}
.radio-design::before{
    content: "";
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: hsl(0  , 0%, 90%);
    transform: scale(1.1);
    transition: .3s;
}
.radio-input:checked + .radio-design::before{
    transform: scale(0);
}
.label-text{
    color: hsl(0  , 0%, 60%);
    margin-left: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
    transition: .3s;
}
.radio-input:checked~.label-text{
    color: hsl(0  , 0%, 40%);
}