.radio-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.radio-button{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
}
.radio-button input[type="radio"]{
    display: none;
}
.radio-button .radio-circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #aaaaaa;
    position: relative;
    margin-right: 10px;
}
.radio-circle::before{
    content: '';
    height: 12px;
    width: 12px;
    display: block;
    border-radius: 50%;
    background-color: rgb(21, 255, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0); 
    transition: all 0.3s ease-in-out;
}

.radio-button input[type="radio"]:checked + .radio-circle::before{
    transform: translate(-50%,-50%) scale(1); 
}
.radio-button:nth-child(1) input[type="radio"]:checked + .radio-circle::before{
    background: #fd1a0a;
}
.radio-button:nth-child(2) input[type="radio"]:checked + .radio-circle::before{
    background: #ecc206;
}
.radio-button:nth-child(3) input[type="radio"]:checked + .radio-circle::before{
    background: #21fc04;
}
.radio-label{
    font-weight: bold;
    font-size: 16px;
}
.radio-button:hover .radio-circle{
    border-color: #555;
}
.radio-button:hover input[type="radio"]:checked + .radio-circle::before{
    background-color: #555;
}