.radio-input{
    display: flex;
    align-items: center;
    justify-content: center;
}
.radio-input input{
    appearance: none;
    width: 2rem;
    height: 2rem;
    background-color: #2a7aca;
    border-radius: 50%;
    transition: all 0.5s ease;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}
.radio-input input:hover{
    scale: 1.2;
    box-shadow: none;
    cursor: pointer;
}
.radio-input .circle{
    position: relative;
    top: 0.06em;
    left: -1.45em;
    width: 0.6em;
    height: 0.6em;
    background-color: yellow;
    scale: 0;
    border-radius: 10px;
    transition: all 0.5s ease;
}
.radio-input input:checked{
    box-shadow: none;
    border: 2px solid yellow;
}
.radio-input input:checked + .circle{
    scale: 1;
    transform: rotate(360deg);
}