*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Arial, Helvetica, sans-serif;
}
.container{
    width: 150px;
    margin: 100px auto;
}
.radio-button{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    position: relative;
    cursor: pointer;
}
.radio-button_input{
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}
.radio-button_label{
    display: inline-block;
    padding-left: 30px;
    margin-bottom: 10px;
    padding-top: 1px;
    position: relative;
    font-size: 15px;
    color: #555;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
.radio-button_custom{
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #555;
    transition: all 0.3s ease;
}
.radio-button_input:checked + .radio-button_label .radio-button_custom{
    background-color: #4c8bf5;
    border-color: transparent;
    transform: scale(0.8);
    box-shadow: 0 0 20px #4c8bf580;
}
.radio-button_input:checked + .radio-button_label{
    color: #4c8bf5;
}
.radio-button_label:hover .radio-button_custom{
    transform: scale(1.2);
    box-shadow: 0 0 20px #4c8bf580;
    border-color: #4c8bf5;
}