*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 500px;
    margin: 100px auto;
}
.input-group{
    background-color: #fff;
    display: block;
    margin: 10px 0;
    
}