
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.card{
    text-align: center;
    box-shadow: 0 0 3px 3px #dddddd;
    height: auto;
    width: 200px;
    padding: 10px 15px;
    border-radius: 10px;
}
.card .title{
    font-size: 2rem;
    margin: 15px;
}
.card .form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form label{
    cursor: pointer;
}
.card .form .input-radio{
    box-shadow: 0px 0px 0px 1px #6d6d6d;
    font-size: 3rem;
    width: 25px;
    height: 25px;
    margin-right: 7px;
    border: 4px solid #fff;
    background-clip: border-box;
    appearance: none;
    transition: background-color 0.3s, box-shadow 0.3s;
    border-radius: 50%;
}
.card .form label{
    display: flex;
    margin: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-radio.on:checked{
    box-shadow: 0 0 0 4px #00eb27;
    background-color: #51ff61;
}
.input-radio.off:checked{
    box-shadow: 0 0 0 4px #eb0000;
    background-color: #ff5151;
}