*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 150px;
    margin: 100px auto;
    
}
form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
form label{
    display: flex;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
}
form label input{
    position: absolute;
    left: -9999pc;
}
form label input:checked + span{
    background-color: #414181;
    color: #fff;
}

form label input:checked + span::before{
    box-shadow: inset 0 0 0 0.4375em #00005c;
}
form label span{
    display: flex;
    align-items: center;
    padding: 0.375em 0.75em 0.375em 0.375em;
    border-radius: 99em;
    transition: 0.25em ease;
    color: #414181;
}
form label span:hover{
    background-color: #d6d6e5;
}
form label span::before{
    display: flex;
    flex-shrink: 0;
    content: "";
    background-color: #fff;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin-right: 0.375em;
    transition: 0.25em ease;
    box-shadow: inset 0 0 0 0.125em #00005c;
}
    