*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #edf2f9;
}
.container{
    width: 250px;
    margin: 100px auto;
}
label{
    display: block;
    line-height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.radio-input{
    appearance: none;
    position: relative;
    top: 13.3333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    z-index: 10000;
}
.radio-input:hover{
    background: #9faab7;
}
.radio-input:checked{
    background: #40e0d0;
}
.radio-input:checked::before{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    content: "✔";
    font-size: 25px;
    font-weight: bold;
    position: absolute;
}
.radio-input:checked::after{
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: "";
    display: block;
    border-radius: 50%;
    position: relative;
    z-index: 100;
}

@keyframes click-wave {
    0%{
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
    }
    100%{
        height: 200px;width: 200px;margin-left: -80px;margin-top: -80px;opacity: 0;
    }
    
}