*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.radio-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
    position: relative;
}
.radio-button input[type="radio"] {
    position: absolute;
    opacity: 0;
}
.radio{
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: translateZ(-25px);
    transition: all 0.3s ease-in-out;
}
.radio::before{
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    background-color: #14f31f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    opacity: 0;
}
.radio-button input[type="radio"]:checked + .radio{
    border-color: #5cb85c;
    transform: translateZ(0px);
    background-color: #fff;
}
.radio-button input[type="radio"]:checked + .radio::before{
    opacity: 1;
}